body{
    background-color: gray;
}
ul{
    font-family: monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: cornflowerblue;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}
li :hover{
    background-color: cadetblue;
}
.contenido{
    margin-top: 47px;
}