body {
    background-color: gray;
}
.caja{
    margin: 8px;
    padding: 8px;
    border-style: outset;
    border-width: 8px;
    border-color: azure;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: teal;
    background-color: antiquewhite;
}